/* background rgb(228, 79, 64) */
/* rect rgb(234, 191, 48) */
/* circle rgb(16, 41, 46) */
body {
  background-color: rgb(228, 79, 64);
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}


.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.wall {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  margin: auto;
  flex-flow: column;
}

.row {
  display: block;
}

.block {
  width: 50px;
  height: 50px;
  margin: 3px;
  display: inline-block;
}

.rect {
  display: block;
  /* content: ""; */
  background-color: rgb(234, 191, 48);
  width: 15px;
  height: 100%;
  margin: 0 17.5px;
}

.rect::after {
  position: absolute;
  display: block;
  background-color: rgb(16, 41, 46);
  width: 15px;
  height: 15px;
  content: "";
  border-radius: 100%;
  margin-top: 17.5px;
}

.cube {
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
   /* Other transform properties here */
}
